.dropdown-menu .user-menu {
  width: 280px;
  padding: 0;
  .user-img {
    width: 100px;
  }

  .bkColor {
    background-color: rgb(236, 238, 239) !important;
  }

  .dropdown-item {
    color: #666 !important;
  }
}
